<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>AIT Final Project: Flick List</title>
	<link href="base.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700&effect=anaglyph" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i" rel="stylesheet">
</head>
<body>
<div>
<header class="font-effect-anaglyph	"><b>flick<svg><use xlink:href="icons.svg#filmreel"/></svg>list</b></header>
	{{{body}}}
</div>
</body>
</html>