<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>AIT Final Project: Flick List</title>
	<link href="base.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700&effect=anaglyph" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700" rel="stylesheet">
</head>
<body>
<div>
<header>
	<article class="font-effect-anaglyph" id="logo">
	<b>flick<svg><use xlink:href="icons.svg#filmreel"/></svg>list</b>
	</article>
	<ul id="navigation">
		<li><a href="/movies">All Movies</a></li>
		<li><a href="/mylist">My Watchlist</a></li>
		<li><a href="/random">Random Movie</a></li>
	</ul>
</header>
	{{{body}}}
</div>
</body>
</html>