<div id="container">
<center>
<h1>Random Movie!</h1>
The movie you should watch is...<br>
{{#each movie}}
Title: {{name}}
<br>Genre: {{genre}}
{{#if director}}<br>Director: {{director}}{{/if}}
{{#if year}}<br>Year: {{year}} {{/if}}
{{/each}}
</center>
</div>