<h1>Create an Account</h1>
<form method="POST" action="">
	Username: <input type="text" name="username">
	Password: <input type="password" name="password">
	<input type="submit" value="Register">
</form>

Already have an account? <a href="/">Sign in!</a>