<h1>Log In</h1>
<form method="POST" action="">
	Username: <input type="text" name="username">
	Password: <input type="password" name="password">
</form>

Don't have an account? <a href="/signup">Create one!</a>