<div id="login">
<h1>Create an Account</h1>
<form method="POST" action="">
	<label>Username:</label> <input type="text" name="username">
	<br><label>Password:</label> <input type="password" name="password">
	<br><input type="submit" value="Register">
</form>

Already have an account? <a href="/">Sign in!</a>
</div>