body {
	font-family: 'Roboto', sans-serif;
	font-size: 0.75em;
	background-color: #f5f5f5;
	color: #5b5b5b;
}

header {
	text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f5f5f5;
}

svg {
	width:1em;
	height:1em;
}

h1 {
	padding: 0;
	margin: 0 0 10px 0;
  font-family:'Playfair Display', serif;
  font-size:2em;
}

a {
  color: #265C83;
  letter-spacing: 1px;
  transition: color .3s;
  text-decoration: none;
}

a:hover, a:active {
  color:#000000;
  letter-spacing:1px;
}

ul {
  padding-left:0;
  margin-left:0;
}

.error {
  font-family: "Roboto", sans-serif;
  color: #ff4242;
}

input[type=submit] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing:2px;
  outline: 0;
  background: #f5f5f5;
  padding: 7px;
  border: 1px dashed #5b5b5b;
  color: #5b5b5b;
  transition: all 0.3s;
  margin-top: 5px;
}

input[type=submit]:hover {
  color: #000000;
  border: 1px dashed black;
}

/* navigation/header styles */
#navigation {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#navigation li {
  display: inline;
}

#navigation a {
  display: inline-block;
  padding: 10px;
  transition: background-color 0.7s;
  text-decoration: none;
  font-size: 0.75em;
  letter-spacing: 3px;
  color: #5b5b5b;
}

#navigation a:hover {
  background-color: #5b5b5b;
  color: #f5f5f5;
}

#logo {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  color: #000000;
}

/* user list styles */
#container {
  width: 95%;
  margin: auto;
  position: relative;
  top: 100px;
}

.rightContainer {
	float: right;
  text-align: left;
	width: 25%;
	padding: 5px;
}

.leftContainer {
	float: left;
	width: 25%;
	padding: 10px 5px 5px 5px;
}

.main {
	float: left;
	width: 40%;
	padding: 5px;
}

/* login/registration styles */
#login {
  position: relative;
  top: 100px;
  z-index: 1;
  background: #FFFFFF;
  width: 25%;
  margin: 0 auto 100px;
  padding: 20px 45px 20px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#login input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1em;
}

#login input[type=submit] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#login input[type=submit]:hover,.form button:active,.form button:focus {
  background: #43A047;
}

#login .message {
	font-family: "Roboto", sans-serif;
	color: #d1d3d4;
}

#login #error {
	font-family: "Roboto", sans-serif;
	background-color: #ff4242;
	color: white;
}

/* movie table styles */
.movies {
  float: left;
  padding: 5px;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #333;
  text-align: left;
  padding: 5px;
}

tr:nth-child(2n) {
  background-color: #E5E4E4;
}

th {
  font-weight:bold;
  background-color: #5b5b5b;
  color: #fff;
}

/* media queries */
@media screen and (max-width: 660px) {
    
    #container {
        width: 90%;
    }
    
    .leftContainer, .main, .rightContainer {
        float: none;
        width: 100%;
        margin:10px 0;
        text-align: left;
    }
}